@{
    ViewData["Title"] = "Thong tin Sinh vien";
}
<h1>@ViewData["Title"]</h1>
<div class="alert alert-danger">
    <p>Ma Sinh vien: 2310900067</p>
    <p>Ho va ten: Ha Quang Minh</p>
    <p>Email: haquangminhk23cnt3@gmail.com</p>
    <p>Dien Thoai: 0846409694</p>
    <p>Lop: K23CNT3 - NET</p>
</div>
